---
import { Markdown } from 'astro/components';

export interface Props {
    title: string;
    author: string;
    publishedTime: string;
    image: Image;
    postBody: any; //valid markdown
}

interface Image {
    src: string;
    width: string | number;
    height: string | number;
    alt: string;
}

const { title, author, publishedTime, image, postBody } = Astro.props;

---
<article>
    {   image?.src &&
        <img {...image} loading="lazy"/>
    }
    <h1>{title}</h1>
    <time>{publishedTime}</time>
    {   author && 
        <p>By {author}</p>
    }
    <Markdown content={postBody} />
</article>
